.header-wrapper {
  width: 100vw;
  height: 300px;

  display: flex;
  flex-direction: column;

  background-color: var(--color-primary-medium);
  color: var(--color-box-base);
}

.logo-container {
  cursor: pointer;
}

.top-icons {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 2rem;
  transition: opacity 0.5s;
}

.hello-user-container {
  display: flex;

  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.hello-user-container img {
  margin-left: 2rem;

  transition: border 0.5s;
}

.hello-user-container img:hover {
  cursor: pointer;

  border: 5px solid var(--color-secondary-medium);
  opacity: 0.5;
}

.hello-user {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
}

.hello-user h1 {
  font-size: var(--text-extra-thicc);
}

.hello-user p {
  font-size: var(--text-big);
}

#arrow:hover {
  opacity: 0.5;
}

@media (max-height: 768px) {
  .header-wrapper {
    height: 250px;
  }

  .top-icons {
    padding-bottom: 1rem;
  }

  .hello-user {
    padding-top: 0rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
}

/* Overwritting swal*/
.swal2-input {
  width: 100%;
}

/*Clock*/
.clock {
  margin-top: 1rem;
  color: var(--color-background-white);
  font-size: var(--text-big);
  font-weight: 600;
  letter-spacing: 7px;
}
