.custom-toggle-btn {
  border-radius: 25px !important;

  background-color: var(--color-primary-medium) !important;
  font-size: var(--text-medium) !important;

  border-style: none !important;

  transition: background-color 0.2s !important;
}

.custom-toggle-btn:hover {
  background: var(--color-primary-light) !important;
}
