#user-page {
  width: 100vw;
  height: 100vh;

  background-color: var(--color-background);

  display: flex;
}

#user-page .content-wrapper {
  width: 100vw;
  height: 100vh;

  padding: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
}

/*Overriding Bootstrap Component Styles*/
#requisitarDinheiro {
  background-color: var(--color-green) !important;
}

#requisitarDinheiro:hover {
  background-color: var(--color-green-lighter) !important;
}

#declararGasto {
  background-color: var(--color-red) !important;
}

#declararGasto:hover {
  background-color: var(--color-red-lighter) !important;
}

.custom-btn {
  width: 230px !important;
  height: 90px !important;

  border-radius: 25px !important;

  border-style: none !important;
  padding: 0rem !important;

  font-size: var(--text-big) !important;
  font-weight: 700;
  background: var(--color-primary-medium) !important;
  color: var(--color-button-text) !important;

  transition: background-color 0.2s !important;
}

.custom-btn:hover {
  background: var(--color-primary-light) !important;
}

.custom-table {
  font-size: var(--text-medium) !important;
  margin-top: 1rem !important;

  width: 40vw;
}

.body-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.wallet-wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 8rem;
  height: auto;

  width: 1200px;

  background-color: var(--color-white-background);
  border-radius: 25px;
}

.welcome-msg {
  font-size: var(--text-big);
}

@media (max-height: 768px) {
  .body-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .wallet-wrapper {
    margin-top: rem;
    padding: 2rem;
  }

  .custom-btn {
    width: 170px !important;
    height: 70px !important;
    font-size: var(--text-medium) !important;
  }
}

.current-balance {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.current-balance h1 {
  font-size: var(--text-titan);
  color: var(--color-primary-dark);

  border-bottom: 3px solid var(--color-input-background);
}

.transaction-history-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 4rem;
}

.user-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*Sweet Alert II Override*/
.swal2-popup {
  font-size: var(--color-text-medium) !important;
}