#user-page {
  width: 100vw;
  height: 100vh;

  background-color: var(--color-background);

  display: flex;
}

#user-page .content-wrapper {
  width: 100vw;
  height: 100vh;

  padding: 0;

  display: flex;
  flex-direction: column;
}

.header-wrapper {
  width: 100vw;
  height: 366px;

  display: flex;
  flex-direction: column;

  background-color: var(--color-primary-medium);
  color: var(--color-box-base);
}

.top-icons {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 2rem;
  transition: opacity 0.5s;
}

#arrow:hover {
  opacity: 0.5;
}

/*Overriding Bootstrap Component Styles*/
#solicitar {
  background-color: var(--color-secondary-medium) !important;
}

#solicitar:hover {
  background-color: var(--color-secondary-light) !important;
}

.custom-btn {
  width: 360px !important;
  height: 131px !important;

  border-radius: 25px !important;

  border-style: none !important;

  font-size: var(--text-bigger) !important;
  font-weight: 700;
  background: var(--color-primary-medium) !important;
  color: var(--color-button-text) !important;

  transition: background-color 0.2s !important;
}

.custom-btn:hover {
  background: var(--color-primary-light) !important;
}

.custom-table {
  font-size: var(--text-medium);
}

.hello-user {
  padding-top: 2rem;
  padding-left: 10rem;
}

.hello-user h1 {
  font-size: var(--text-thicc);
}

.hello-user p {
  font-size: var(--text-medium);
}

.body-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 5rem;
  padding-bottom: 5rem;
}

.wallet-wrapper {
  display: flex;
  flex-direction: column;

  padding: 8rem;
  height: auto;

  width: 1200px;

  background-color: var(--color-white-background);
  border-radius: 25px;
}

.current-balance {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.current-balance h1 {
  font-size: var(--text-titan);
  color: var(--color-primary-dark);

  border-bottom: 3px solid var(--color-input-background);
}

.user-buttons {
  display: flex;
  justify-content: space-between;
}

/*Sweet Alert II Override*/
.swal2-popup {
  font-size: var(--color-text-medium) !important;
}
