.cad-form-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.cad-form-container h1 {
  padding-bottom: 3rem !important;
  color: var(--color-text-title);
}

.form-custom-btn {
  width: 25rem;
  height: 6rem !important;
  border-style: none !important;

  justify-content: space-between;

  margin-top: 4rem !important;
  padding: 0 !important;
  margin: 1rem;

  font-size: var(--text-medium) !important;
  font-weight: 700;
  background: var(--color-primary-medium) !important;
  color: var(--color-button-text) !important;
  border-radius: 25px;

  transition: background-color 0.2s !important;
}

.form-custom-btn:hover {
  background: var(--color-primary-light) !important;
}

.form-group-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
}

.cad-form-container .form-control {
  height: 3.5rem !important;
  width: 45rem !important;
  border-radius: 25px !important;

  font-size: var(--text-medium) !important;

  border: none !important;

  background-color: var(--color-input-background) !important;
  box-sizing: border-box !important;
}

.cad-form-container .form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
  CHECKBOX
*/
.switch {
  position: relative !important;
  display: inline-block !important;
}
.switch-input {
  display: none !important;
}
.switch-label {
  display: block;
  width: 52px !important;
  height: 26px !important;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block !important;
  position: absolute !important;
  cursor: pointer;
}
.switch-label::before {
  width: 55px !important;
  height: 3.5rem !important;
  background-color: var(--color-input-background);
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0.2rem;
  left: 0rem;
  right: 0rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: var(--color-green);
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}
