.cad-form-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.cad-form-container h1 {
  padding-bottom: 3rem !important;
  color: var(--color-text-title);
}

.form-custom-btn {
  width: 25rem;
  height: 6rem !important;
  border-style: none !important;

  justify-content: space-between;

  margin-top: 4rem !important;
  padding: 0 !important;
  margin: 1rem;

  font-size: var(--text-medium) !important;
  font-weight: 700;
  background: var(--color-primary-medium) !important;
  color: var(--color-button-text) !important;
  border-radius: 25px;

  transition: background-color 0.2s !important;
}

.form-custom-btn:hover {
  background: var(--color-primary-light) !important;
}

.form-group-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
}

.form-control {
  height: 3.5rem !important;
  width: 45rem !important;
  border-radius: 25px !important;

  font-size: var(--text-medium) !important;

  border: none !important;

  background-color: var(--color-input-background) !important;
  box-sizing: border-box !important;
}
